*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 1.1em;

}
body{
    background-color: white;

}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: rgb(78, 226, 49);
}
a.logo{
    padding-left: 100px;
}
nav{
    
    background-color: rgb(78, 226, 49);
    
}
nav ul{
    display: flex;
}
nav li{
    
   
}
nav a{
    
   
    margin: 5%;
    color: rgba(4, 7, 0, 0.767);
    margin-top: 10;
    margin-right: 0px;
    margin-left: 35px;
    height: 100%;
   

}
nav a:hover{
    color: #419923;
    background-color: #ffffff;
}