*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 1.1em;

}

body{
    
    background-color: white;

}
header{
    width: 100%;
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(121, 236, 64);
}
main{
    
    margin-top: 10px;
    background-color: aliceblue; 
}
.cont1, .cont2{
    background-color: #ffffff;
    margin: auto;
    width: 50%;
   margin-bottom: 10px;
}

h1{
    font-size: 2em;
    text-align: center;
}


.cabec{
    
    display: flex;
    align-items: center;
    
    
    
}

.cabec ul{
    display: flex;
}


.cabec li{
    
    padding: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    }

.cabec a{
    
   
    margin: 5%;
    color: rgba(4, 7, 0, 0.767);
    margin-top: 10;
    margin-right: 0px;
    margin-left: 35px;
    height: 100%;
   

}
.cabec a:hover{
    color: #272525;
    background-color: #ffffff;
    border-radius: 10%;
    border-width: 5px;
}
/*.pagamento{
    width: 200px;
    padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 20px;
    
}*/


div.inform{
    font-size: .9em;
    background-color: rgb(78, 226, 49);
    padding-left: 100px;
    padding-bottom: 30px;
}
.loja1 img{
    /*float: left;
    /*border: transparent thin solid;
    padding: 5px;
    /*margin: 0px 10px 10px 0;*/
    max-width: 186px;

   
}
.sociais{
    display: flex;
}
.pai{
    margin-top: 25px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    
}
fieldset{
    padding: 10px;
    background-color: aliceblue;
}
