.pai{
    position: relative;
    background-color: antiquewhite;
   
    
}
.filho{
    height: 50px;
    
    
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
